# **EcoInsights**

idnciksdflksdsdsdgvsd svzdsgesf es sf af sf sfd

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\Compu\\OneDrive\\Documents\\vscode-projects\\GlobalEcoInsights2000-2024\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\Compu\\OneDrive\\Documents\\vscode-projects\\GlobalEcoInsights2000-2024'

# Section 1 - ETL

Section 1 content

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

Begin data exploration

In [5]:
# Load the dataset into a pandas dataframe
df = pd.read_csv('temperature.csv')

# Load the first 5 rows of the dataset
df.head()

,Year,Country,Avg_Temperature_degC,CO2_Emissions_tons_per_capita,Sea_Level_Rise_mm,Rainfall_mm,Population,Renewable_Energy_pct,Extreme_Weather_Events,Forest_Area_pct
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4

In [6]:
# Get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           1000 non-null   int64
 1   Country                        1000 non-null   object
 2   Avg_Temperature_degC           1000 non-null   float64
 3   CO2_Emissions_tons_per_capita  1000 non-null   float64
 4   Sea_Level_Rise_mm              1000 non-null   float64
 5   Rainfall_mm                    1000 non-null   int64
 6   Population                     1000 non-null   int64
 7   Renewable_Energy_pct           1000 non-null   float64
 8   Extreme_Weather_Events         1000 non-null   int64
 9   Forest_Area_pct                1000 non-null   float64
dtypes: float64(5), int64(4), object(1)
memory usage: 78.3+ KB

In [7]:
# Display the shape of the dataframe
df.shape

(1000, 10)

In [8]:
# Print descriptive statistics of the dataset
df.describe()

,Year,Avg_Temperature_degC,CO2_Emissions_tons_per_capita,Sea_Level_Rise_mm,Rainfall_mm,Population,Renewable_Energy_pct,Extreme_Weather_Events,Forest_Area_pct
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,2011.432000,19.883100,10.425800,3.009600,1738.761000,7.053830e+08,27.300500,7.291000,40.572000
std,7.147199,8.542897,5.614665,1.146081,708.976616,4.093910e+08,12.970808,4.422655,17.398998
min,2000.000000,5.000000,0.500000,1.000000,501.000000,3.660891e+06,5.100000,0.000000,10.100000
25%,2005.000000,12.175000,5.575000,2.000000,1098.750000,3.436242e+08,16.100000,3.000000,25.600000
50%,2012.000000,20.100000,10.700000,3.000000,1726.000000,7.131166e+08,27.150000,8.000000,41.150000
75%,2018.000000,27.225000,15.400000,4.000000,2362.500000,1.073868e+09,38.925000,11.000000,55.800000
max,2023.000000,34.900000,20.000000,5.000000,2999.000000,1.397016e+09,50.000000,14.000000,70.000000

In [9]:
# Check data types
df.dtypes

Year                               int64
Country                           object
Avg_Temperature_degC             float64
CO2_Emissions_tons_per_capita    float64
Sea_Level_Rise_mm                float64
Rainfall_mm                        int64
Population                         int64
Renewable_Energy_pct             float64
Extreme_Weather_Events             int64
Forest_Area_pct                  float64
dtype: object

In [10]:
# Check for missing values
df.isnull().sum()

Year                             0
Country                          0
Avg_Temperature_degC             0
CO2_Emissions_tons_per_capita    0
Sea_Level_Rise_mm                0
Rainfall_mm                      0
Population                       0
Renewable_Energy_pct             0
Extreme_Weather_Events           0
Forest_Area_pct                  0
dtype: int64

In [11]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

In [12]:
# Check categorical columns
df['Country'].value_counts()

Country
Indonesia         75
Russia            74
USA               73
'South Africa'    73
India             70
China             67
Argentina         67
Canada            67
Brazil            67
France            66
UK                65
Japan             63
Germany           61
Australia         57
Mexico            55
Name: count, dtype: int64

In [13]:
# Save the dataset
df.to_csv('temperature_cleaned.csv', index=False)

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [14]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (553063055.py, line 5)